[user]
	name = Patrick Anderson
	email = agnucius@gmail.com

[push]
	default = current

[core]
	editor = emacs
	pager =

[merge]
	tool = ediff

[alias]
	lg = log --oneline --abbrev-commit --all --graph --decorate --color
    graph = log --graph --date-order -C -M '--pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\"' --all --date=rfc
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat --date=rfc
    undelete = log --graph --oneline --decorate $(git rev-parse $(git fsck --no-reflog | grep "dangling commit" | cut -f 3 -d ' ') --not HEAD)
	find = grep --ignore-case --line-number -I
	oldest-ancestor = !bash -c 'diff --old-line-format=' --new-line-format=' <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | head -1' -
	branchdiff = !sh -c \"git diff `git oldest-ancestor`..\"
	branchlog = !sh -c \"git log `git oldest-ancestor`..\"
[color]
	ui = auto
